<md-content flex class="bg-image" style="max-width:1000px; max-height:597px;">
    <md-toolbar md-scroll-shrink class="md.medium-tall app-toolbar">
        <div class="md-toolbar-tools">
            <h1 class="md-display-3">
                <span>Kirjaudu ladataksesi tietoja Terveystiliisi </span>
            </h1>
        </div>
    </md-toolbar>

    <md-card layout-fill>
        <md-card-content>

            <div layout-align="center center" layout="row">
                <a href="/authorize/google"> <img class="md-button" src="images/btn_google_signin.png"/></a>
            </div>

        </md-card-content>
    </md-card>

</md-content>